<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xl.gcs.com.rxjava">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateActivity" >
            <!--android中的scheme是一种页面内跳转协议，是一种非常好的实现机制，通过定义自己的scheme协议，可以非常方便跳转app中的各个页面；通过scheme协议，服务器可以定制化告诉App跳转那个页面，可以通过通知栏消息定制化跳转页面，可以通过H5页面跳转页面等。-->
            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="axl" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".TransformActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".CombineActivity" />
        <activity android:name=".UtilityActivity" />
        <activity android:name=".ErrorActivity" />
        <activity android:name=".ConditionalActivity" />
        <activity android:name=".ConversionActivity" />
        <activity android:name=".net.OkhttpActivity" />
        <activity android:name=".net.RetrofitActivity" />
        <activity android:name=".bus.RxBusActivity" />
    </application>

</manifest>